# Manual Workflow (Application)

name: manual

on:
  workflow_dispatch:
    inputs:
      Manual Build:
        description: 'Manual Build'
        required: false
jobs:
  php81:
    uses: tiredofit/github_actions/.github/workflows/php81_alpine_amd64_arm64.yml@main
    secrets: inherit
  php82:
    uses: tiredofit/github_actions/.github/workflows/php82_alpine_amd64_arm64.yml@main
    secrets: inherit
  php83:
    uses: tiredofit/github_actions/.github/workflows/php83_alpine_amd64_arm64.yml@main
    secrets: inherit
